body,
html {
    height: 100%;
    margin: 0;
    background-color: #FFF487;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
    margin: auto;
    font-family: 'Abril Fatface', cursive;
    background-color: #FFF487;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 6em;
    font-weight: 100;
    color: #778B16;
}

h2 {
    margin: 0;
    text-align: center;
    font-family: Copperplate Gothic;
    font-size: 2em;
    color: #97AF25;
}

header p {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    color: #778B16;
}

.menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #FFF487;
}

.menu:hover {
    background-color: #778B16;
    transition-property: background-color;
    transition-duration: .3s;
}

.menu a {
    text-decoration: none;
    font-family: Copperplate Gothic;
    color: #778B16;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
    width: 30%;
    height: 100%;
    list-style: none;
    text-align: center;
}

.menu:hover a {
    color: #FFF487;
}

/* main block */

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border: 1px solid #97AF25;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    background-color: #FFFAC8;
}

.main p {
    text-align: center;
    color: #97AF25;
    font-size: 1.5em;
    font-family: 'Cormorant Garamond';
}

.news {
    padding: 0 5px 5px 5px;
    margin: 15px 0 15px 0;
}

.stuff {
    padding: 0 5px 5px 5px;
    margin: 15px 0 15px 0;
}

.content {
    padding: 0 5px 5px 5px;
    margin: 15px 0 15px 0;
}

/* catalog page */

.main-catalog {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.categories {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 0;
    margin: 15px;
}

.categories > li {
    position: relative;
    padding: 0 15px;
    list-style: none;
    white-space: nowrap;
    background-color: #FFF487;
}

.categories a {
    display: block;
    text-decoration: none;
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-size: 1.8em;
    color: #778B16;
}

.categories > li:hover {
    background-color: #778B16;
}

.categories > li:hover > a {
    color: #FFF487;
}

.categories > li:first-child {
    border-radius: 10px 10px 0 0;
}

.categories > li:last-child {
    border-radius: 0 0 10px 10px;
}

.categories .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
    
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 0;
    margin: 15px;
}

.categories > a:hover .sub-menu {
    display: block;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.product-box {
    width: 200px;
    background-color: #fff;
    border-radius: 15px;
    opacity: 0.5;
}

.product-box:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
}

.product-box .product-info {
    border-radius: 15px;
    background-color: #97AF25;
}

.product-box .product img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.product-box .product .name {
    margin: 0;
    font-weight: 600;
    color: #fff;
}

.product-box .product .price {
    margin: 0;
    font-family: Copperplate Gothic;
    color: #fff;
}

/* contact page */

.main-contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.main-contact .place,
.main-contact .connect {
    margin: 20px;
    font-family: Arial;
    color: #97AF25;
}

.main-contact .place li {
    list-style: none;
    text-align: center;
    font-size: 1.2em;
}

.main-contact .place ul {
    padding: 0;
}

.main-contact .connect form {
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0;
}

.main-contact .connect form input,
.main-contact .connect form textarea,
.main-contact .connect form button {
    padding: 5px;
    border: 1px solid #97AF25;
    border-radius: 10px;

    background-color: #FFF487;
    color: #97AF25;
    font-size: 1em;
}

.main-contact .connect form button {
    background-color: #97AF25;
    color: #FFF487;
}

.main-contact .connect form input[class='name'] {
    width: 40%;
    padding-left: 10px;
    margin-bottom: 10px;
}

.main-contact .connect form input[class='name']::-webkit-input-placeholder,
.main-contact .connect form textarea::-webkit-input-placeholder {
    color: #97AF25;
}

.main-contact .connect form textarea {
    height: 3em;
    padding-left: 10px;
    font-family: Arial;
}

.main-contact .connect form .buttons {
    display: flex;
    justify-content: space-between;
}

.main-contact .connect form button {
    width: 40%;
    margin-top: 10px;
}

iframe {
    width: 100%;
}

/* bottom */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: right;
    border-radius: 10px 10px 0 0;
    background-color: #97AF25;
    color: #FFF487;
}

footer p {
    align-self: flex-end;
    margin: 0;
}

.info-box {
    display: flex;
}

.newslatter {
    margin: 0 50px 0 20px;
}

.newslatter h3,
.social-icons h3 {
    margin-bottom: 0;
    font-family: 'Amatic SC';
    font-size: 2em;
    text-align: center;
}

.newslatter form {
    margin-bottom: 20px;
}

.newslatter button[type="submit"],
.newslatter input[type="text"] {
    padding: 5px;
    border: 1px solid #FFF487;
    border-radius: 10px;

    background-color: #97AF25;
    color: #FFF487;
    font-size: 1em;
}

.newslatter input[type="text"]::-webkit-input-placeholder{
    color: #FFF487;
}

.newslatter button[type="submit"]:hover,
.newslatter input[type="text"]:hover {
    border: 1px solid #97AF25;

    background-color: #FFF487;
    color: #97AF25;
}

.newslatter input[type="text"]:hover::-webkit-input-placeholder{
    color: #97AF25;
}

.icons {
    display: flex;
    align-items: center;
    background-color: #FFFAC8;
    border-radius: 10px;
    padding: 5px;
}

.instagram {
    width: 60px;
    height: 60px;
    background: url("../social.png") 3% 0%;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.facebook {
    width: 60px;
    height: 60px;
    background: url("../social.png") 50% 0%;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.twitter {
    width: 60px;
    height: 60px;
    background: url("../social.png") 0% 50%;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

.youtube {
    width: 60px;
    height: 60px;
    background: url("../social.png") 97% 0%;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}